apiVersion: broker.amq.io/v1beta1
kind: ActiveMQArtemis
metadata:
  name: broker-2
  annotations:
    argocd.argoproj.io/sync-wave: "20"
spec:
  acceptors:
    - expose: true
      name: ext-acceptor
      port: 61626
      protocols: AMQP,CORE
  brokerProperties:

    - addressConfigurations.test-multicast.routingTypes=MULTICAST

    - addressConfigurations.test-anycast.routingTypes=ANYCAST
    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.routingType=ANYCAST

    - "AMQPConnections.queue-federation-example.uri=tcp://broker-1-ext-acceptor-0-svc.{{ .Values.upstreamNamespace }}.svc.cluster.local:61626"
#    - AMQPConnections.queue-federation-example.uri=tcp://broker-1-ext-acceptor-0-svc.mau-amq-fed-broker-1.svc.cluster.local:61626
    - AMQPConnections.queue-federation-example.federations.queue-federation-example.type=FEDERATION
    - AMQPConnections.queue-federation-example.federations.queue-federation-example.localAddressPolicies.example-local-address-policy.includes."thy.#".addressMatch=thy.#

  console:
    expose: true
  deploymentPlan:
    resources:
      limits:
        cpu: "500m"    # 500 millicores = 0.5 CPU
        memory: "2Gi"  # Good practice: Always set a memory limit for Java!
      requests:
        cpu: "500m"    # Guaranteed CPU
        memory: "2Gi"
    storage:
      size: "2Gi"
    extraMounts:
      configMaps:
      - "newlog4j-logging-config"

    clustered: false
#    extraVolumeMounts:
#      - mountPath: /opt/amq-broker/data
#        name: extra-volume
#    extraVolumes:
#      - name: extra-volume
#        persistentVolumeClaim:
#          claimName: shared-volume
    persistenceEnabled: true
    requireLogin: false
    size: 1
