apiVersion: broker.amq.io/v1beta1
kind: ActiveMQArtemis
metadata:
  name: broker-1
  annotations:
    argocd.argoproj.io/sync-wave: "20"
spec:
  acceptors:
    - expose: true
      name: ext-acceptor
      port: 61626
      protocols: AMQP,CORE
  brokerProperties:

    - addressConfigurations.test-multicast.routingTypes=MULTICAST

    - addressConfigurations.test-anycast.routingTypes=ANYCAST
    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.routingType=ANYCAST

#    - "addressConfigurations.test-hybrid.routingTypes=ANYCAST,MULTICAST"
#    - "addressConfigurations.test-hybrid.queueConfigurations.test-anycast.routingType=ANYCAST"
#    - "addressConfigurations.test-hybrid.queueConfigurations.test-multicast.routingType=MULTICAST"
#    - HAPolicyConfiguration=SHARED_STORE_PRIMARY
#    - journalDirectory=/opt/amq-broker/data/journal
#    - 'pagingDirectory=/opt/amq-broker/data/paging,'
#    - bindingsDirectory=/opt/amq-broker/data/bindings
#    - largeMessagesDirectory=/opt/amq-broker/data/largemessages
#    - addressConfigurations.test-multicast.name=test-multicast
#    - addressConfigurations.test-multicast.routingTypes=MULTICAST
#    - addressConfigurations.test-multicast-2.name=test-multicast-2
#    - addressConfigurations.test-multicast-2.routingTypes=MULTICAST
#    - addressConfigurations.test-anycast-2.name=test-anycast-2
#    - addressConfigurations.test-anycast-2.queueConfigurations.test-anycast-2.address=test-anycast-2
#    - addressConfigurations.test-anycast-2.queueConfigurations.test-anycast-2.name=test-anycast-2
#    - addressConfigurations.test-anycast-2.queueConfigurations.test-anycast-2.routingType=ANYCAST
#    - addressConfigurations.test-anycast-2.routingTypes=ANYCAST
#    - addressConfigurations.test-anycast.name=test-anycast
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.address=test-anycast
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.consumersBeforeDispatch=0
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.delayBeforeDispatch=-1
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.durable=true
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.enabled=true
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.exclusive=false
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.groupBuckets=-1
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.groupRebalance=false
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.lastValue=false
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.maxConsumers=-1
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.name=test-anycast
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.nonDestructive=false
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.ringSize=-1
#    - addressConfigurations.test-anycast.queueConfigurations.test-anycast.routingType=ANYCAST
#    - addressConfigurations.test-anycast.routingTypes=ANYCAST
  console:
    expose: true
  deploymentPlan:
    resources:
      limits:
        cpu: "500m"    # 500 millicores = 0.5 CPU
        memory: "2Gi"  # Good practice: Always set a memory limit for Java!
      requests:
        cpu: "500m"    # Guaranteed CPU
        memory: "2Gi"
    storage:
      size: "2Gi"
    extraMounts:
      configMaps:
      - "newlog4j-logging-config"
    enableMetricsPlugin: true
    clustered: false
#    extraVolumeMounts:
#      - mountPath: /opt/amq-broker/data
#        name: extra-volume
#    extraVolumes:
#      - name: extra-volume
#        persistentVolumeClaim:
#          claimName: shared-volume
    persistenceEnabled: true
    requireLogin: false
    size: 1
